@import "../../../theme/mixins";

.AdminCredentials {
  .back {
    width: 30vw;
    .back-button {
      font-size: 24px;
      margin-left: 8px;
      margin-top: 4px;
      color: var(--ion-text-color, black);
    }
  }
  ion-title {
    font-size: 16px;
    font-weight: bold;
  }
  .body {
    background-color: rgba(144, 145, 170, 0.123);
    height: 100%;

    .card {
      margin: auto;
      padding: 24px 0;
    }
    .control {
      @include flex(center);
      justify-content: space-evenly;
      ion-button {
        --border-radius: 24px;
        margin: 0;
        height: 32px;
        font-size: 14px;
        margin-bottom: 12px;
        --padding-start: 40px;
        --padding-end: 40px;
        --background: rgba(29, 172, 255, 0.753);
        --background-activated: rgba(29, 172, 255, 0.753);
        --background-hover: rgba(29, 172, 255, 0.753);
        &.danger {
          --background: rgba(255, 104, 104, 0.753);
          --background-activated: rgba(255, 104, 104, 0.753);
          --background-hover: rgba(255, 104, 104, 0.753);
        }
      }
    }
    .details {
      margin-bottom: 32px;
      ion-item {
        padding: 0 12px;
        h2 {
          font-size: 15px;
        }
        .id h3 {
          opacity: 0.6;
          font-size: 14px;
        }
        .balance h3 {
          opacity: 0.8;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
    .images {
      padding: 12px;
      .image {
        @include flex(center);
        flex-direction: column;
        padding: 12px;
        width: 100%;
        img {
          border-radius: 12px;
          max-height: 400px;
          max-width: 360px;
        }
        .img_download {
          text-decoration: none;
          color: var(--ion-text-color, black);
          ion-button {
            --border-radius: 24px;
            --background: rgba(29, 172, 255, 0.753);
            --padding-start: 40px;
            --padding-end: 40px;
            height: 32px;
            margin: 24px 0 0;
          }
        }
      }
    }
    .no-result {
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      padding: 48px 24px;
    }
  }
}

@media screen and (min-width: 700px) {
  .images {
    @include flex(space-evenly);
  }
}
