@import "../../../theme/mixins";

.AdminDashboard {
  .back-button {
    margin-top: 0px;
    padding: 6px;
    font-size: 28px;
    background-color: rgba(136, 136, 136, 0.171);
    border-radius: 50%;
    color: var(--ion-text-color, black);
    opacity: 0.8;
  }

  .overview {
    border-radius: 12px;
    padding: 8px 4px;
    margin: 18px 0;
    background-color: rgba(143, 143, 143, 0.171);
    .welcome {
      h1 {
        margin: 0;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        padding: 24px 0 4px;
      }
      p {
        margin: 0;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        padding: 4px 0 24px;
      }
    }
    .statistics {
      @include flex(space-between);
      .card {
        background-color: rgba(138, 138, 138, 0.103);
        width: 100%;
        height: 100%;
        margin: 8px;
        text-align: center;
        border-radius: 12px;
        h3 {
          font-size: 12px;
          font-weight: 700;
        }
        p {
          font-size: 16px;
          font-weight: 600;
          &.pending {
            color: rgb(252, 74, 74);
          }
        }
      }
    }
  }

  .wallets {
    background-color: rgba(138, 138, 138, 0.219);
    width: 100%;
    text-align: center;
    border-radius: 12px;
    margin: 24px 0;
    p {
      font-size: 16px;
      font-weight: 600;
      margin: 0;
      padding: 12px;
      color: var(--ion-text-color, black);
    }
    &.error {
      background-color: rgb(255, 98, 98);
      p {
        color: white;
      }
    }
  }
  .search-box {
    padding: 12px 0px;
    padding-top: 0;
    ion-input {
      --background: rgba(185, 185, 185, 0.171);
      border-radius: 48px;
      margin: 12px auto;
      --padding-top: 12px;
      --padding-bottom: 12px;
      --padding-start: 20px;
      --placeholder-font-weight: 500;
    }
  }
  .no-result {
    text-align: center;
    h3 {
      margin-top: 64px;
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
  .button {
    @include flex(center);
    margin-bottom: 12px;
    ion-button {
      width: 100%;
      --border-radius: 24px;
    }
  }
  ion-list {
    border-radius: 10px;
  }
  .UserItem {
    padding: 8px 4px;
    .icon {
      @include flex(center);
      background-color: rgba(136, 136, 136, 0.192);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 12px;
      ion-icon {
        font-size: 24px;
        color: rgba(104, 104, 110, 0.336);
      }
      &.admin {
        ion-icon {
          color: rgba(105, 209, 212, 0.808);
        }
      }
    }
    .description {
      text-align: left;
      h3 {
        font-weight: 500;
      }
      p {
        font-weight: 500;
        font-size: 11px;
      }
    }
    .amount {
      text-align: right;
      margin: 0;
      h5,
      p {
        font-size: 12px;
        font-weight: 500;
      }
      p {
        font-size: 10px;
      }
    }
  }
}
