@import "../../../theme/mixins";

.AdminWalletAddress {
  .back-button {
    margin-top: 0px;
    padding: 6px;
    font-size: 28px;
    background-color: rgba(136, 136, 136, 0.171);
    border-radius: 50%;
    color: var(--ion-text-color, black);
    opacity: 0.8;
  }

  ion-list-header {
    h1 {
      @include flex(space-between);
      font-weight: bold;
      font-size: 22px;
    }
  }
  .wallet {
    margin: auto;
    max-width: 570px;
    padding: 12px 0;
    p {
      font-weight: 600;
      font-size: 14px;
      padding-left: 12px;
    }
    .address {
      @include flex(space-around);
      background-color: rgba(129, 129, 129, 0.103);
      margin: auto;
      margin-top: 12px;
      padding: 0 4px;
      border-radius: 12px;
      p {
        font-size: 14px;
        font-weight: 500;
        opacity: 0.5;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: normal;
        width: 100%;
        text-align: left;
        border: none;
        background: rgba(0, 0, 0, 0);
      }
    }
    .update {
      background-color: rgba(138, 138, 138, 0.219);
      width: 100%;
      text-align: center;
      border-radius: 12px;
      margin: 24px 0;
      p {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        padding: 12px;
        color: var(--ion-text-color, black);
      }
      &.Bitcoin {
        background-color: rgba(243, 190, 76, 0.5);
      }
      &.Ethereum {
        background-color: rgba(153, 114, 243, 0.5);
      }
      &.Litecoin {
        background-color: rgba(156, 151, 161, 0.5);
      }
      &.Ripple {
        background-color: rgba(95, 183, 235, 0.5);
      }
    }
  }
}

.address-modal {
  ion-toolbar {
    ion-title {
      font-weight: 600;
      font-size: 16px;
    }
    .back-button {
      font-size: 24px;
      margin-right: 12px;
      color: rgba(138, 138, 138, 0.5);
    }
  }
  ion-content {
    .input {
      padding: 0 12px;
      margin: auto;
      margin-top: 20%;
      max-width: 375px;
      .input-box {
        padding: 12px 0px;
        padding-top: 0;
        ion-input {
          --background: rgba(185, 185, 185, 0.171);
          border-radius: 48px;
          margin: 12px auto;
          --padding-top: 16px;
          --padding-bottom: 16px;
          --padding-start: 20px;
          --placeholder-font-weight: 500;
        }
      }
      .button {
        @include flex(center);
        margin-bottom: 12px;
        ion-button {
          width: 100%;
          --border-radius: 24px;
        }
      }
    }
  }
}
