@import "../../../theme/mixins";

.Settings {
  ion-list-header {
    h1 {
      font-weight: bold;
      font-size: 24px;
    }
  }

  ion-list {
    ion-item-divider {
      background-color: rgba(122, 122, 122, 0.068);
      padding-top: 14px;
      padding-bottom: 14px;
      p {
        font-size: 18px;
        font-weight: 500;
      }
    }
    ion-item {
      --detail-icon-color: rgb(194, 194, 194);
      padding: 12px 8px;
      --border-radius: 12px;
      ion-icon {
        color: rgba(194, 193, 193, 0.425);
      }
      ion-text {
        @include flex(space-between);
        .badge {
          @include flex(center);
          background-color: rgb(100, 149, 255);
          border-radius: 50%;
          width: 22px;
          height: 22px;
          color: white;
          font-weight: 600;
          font-size: 14px;
          &.danger {
            background-color: rgb(255, 82, 82);
          }
        }
        ion-badge {
          background-color: rgba(193, 209, 235, 0.288);
          border-radius: 4px;
          padding: 6px 10px;
          color: gray;
          h2 {
            font-size: 14px;
            font-weight: 300;
          }
          &.notifications {
            @include flex(center);
            background-color: rgb(112, 138, 252);
            border-radius: 50%;
            padding: 0;
            color: white;
            width: 22px;
            height: 22px;
            h2 {
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
      h3 {
        padding-left: 18px;
        font-weight: 400;
        font-size: 16px;
      }
      &.logout {
        ion-icon {
          color: rgb(255, 53, 53);
        }
        color: rgb(255, 53, 53);
      }
    }
  }
}

.my-custom-class {
  .danger {
    color: red;
  }
}
