@mixin flex($position) {
  display: flex;
  justify-content: $position;
  align-items: center;
}

@mixin flexOptions($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  ion-spinner {
    font-size: 64px;
    transform: scale(2);
  }
}
