@import "../../../theme/mixins";

.HomePage {
  height: 100%;
  --inverse-color: white;
  // --accent-color: #5e3bfd;
  --accent-color: #2e2b4d;
  --main-color: black;
  --light-color: rgb(240, 240, 240);
  .home {
    width: 100%;
    height: 100%;
    // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    //   url(/images/dark.jpg);
    background: linear-gradient(
      170deg,
      rgba(255, 161, 161, 0.692) 60%,
      rgb(191, 226, 220) 60%
    );
    background: linear-gradient(
      170deg,
      rgba(255, 255, 255, 0.692) 60%,
      var(--accent-color) 60%
    );
    background-color: var(--inverse-color);
    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    margin: auto;
    height: 100vh;
    .head {
      @include flex(space-between);
      padding: 16px;
      h1 {
        margin: 0;
        color: var(--main-color);
        font-size: 20px;
        font-weight: 600;
        font-family: "Rubik", sans-serif;
      }
      .register {
        height: 36px;
        width: 120px;
        --color: var(--inverse-color);
        --background: var(--accent-color);
        --background-activated: var(--accent-color);
        --background-hover: var(--accent-color);
        --border-radius: 24px;
        p {
          font-weight: 700;
        }
      }
    }
    h3 {
      color: var(--main-color);
      // color: black;
      margin: 64px 10vw;
      text-align: center;
      font-size: 28px;
      font-weight: 600;
    }
    .intro {
      @include flex(center);
      flex-direction: column;
      ion-button {
        --border-radius: 24px;
        height: 40px;
        p {
          font-weight: 700;
          font-size: 14px;
        }
        &.start {
          width: 60%;
          color: white;
          margin-bottom: 12px;
          --background: var(--accent-color);
          --background-activated: var(--accent-color);
          --background-hover: var(--accent-color);
        }
        &.learn {
          width: 45%;
          color: black;
          --background: var(--light-color);
          --background-activated: var(--light-color);
          --background-hover: var(--light-color);
        }

        transition: all 0.6s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .list {
      margin: 24px auto;
      padding: 0 24px;
      max-width: 450px;
      .entry {
        display: flex;
        align-items: center;
        transition: all 0.5s ease-in-out;
        ion-icon {
          font-size: 24px;
          color: var(--light-color);
          margin-right: 12px;
          min-width: 24px;
        }
        p {
          font-size: 14px;
          font-weight: 800;
          color: var(--light-color);
          // color: rgb(26, 25, 25);
        }
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
  .more {
    background-color: rgb(255, 255, 255);
    margin: auto;
    color: black;
    .head {
      @include flex(space-between);
      padding: 16px;
      h1 {
        margin: 0;
        color: black;
        font-size: 20px;
        font-weight: 600;
        font-family: "Rubik", sans-serif;
      }
      .register {
        height: 36px;
        width: 120px;
        --color: var(--inverse-color);
        --background: var(--accent-color);
        --background-activated: var(--accent-color);
        --background-hover: var(--accent-color);
        --border-radius: 24px;
        p {
          font-weight: 700;
        }
      }
    }
    ion-slides {
      .page {
        margin: 12px 0 32px;
        h3 {
          font-size: 15px;
          font-weight: 400;
          margin: 0;
          color: rgb(23, 69, 156);
        }
        h1 {
          font-size: 18px;
          margin: 0;
          margin-top: 6px;
          font-weight: 800;
          color: rgb(15, 26, 189);
        }
      }
    }
    .content {
      max-width: 700px;
      margin: 0 auto;
      .intro {
        text-align: center;
        padding: 12px;
        h1 {
          margin: 16px;
          padding: 12px 32px;
          font-size: 28px;
          font-weight: 700;
          span {
            color: rgb(247, 100, 47);
          }
        }
        ion-slide {
          margin: 0 0 48px;
          .info {
            background-color: rgba(206, 206, 206, 0.233);
            border-radius: 8px;
            margin: 0 auto;
            max-width: 700px;
            min-height: 280px;
            padding: 12px;
            ion-icon {
              margin: 12px 0;
              font-size: 48px;
            }
            h3 {
              font-size: 22px;
              font-weight: 600;
            }
            p {
              font-size: 16px;
              font-weight: 400;
              margin: 16px 8px;
            }
            &.investment {
              ion-icon {
                margin: 12px 0;
                font-size: 48px;
                color: rgb(253, 134, 22);
              }
            }
            &.freedom {
              ion-icon {
                margin: 12px 0;
                font-size: 48px;
                color: rgb(19, 199, 115);
              }
            }
            &.move {
              ion-icon {
                margin: 12px 0;
                font-size: 48px;
                color: rgb(22, 180, 253);
              }
            }
          }
        }
      }
      .header {
        text-align: center;
        padding: 12px;
        h3 {
          margin: 16px;
          padding: 12px 32px;
          font-size: 28px;
          font-weight: 700;
          span {
            color: rgb(243, 29, 47);
          }
        }
      }
      .steps {
        padding: 12px;
        .item {
          margin: 32px 0;
          .title {
            padding-left: 12px;
            h1 {
              font-size: 18px;
              font-weight: 700;
              color: rgb(15, 58, 151);
            }
          }
          .body {
            padding-left: 12px;
            font-size: 16px;
            color: rgb(104, 104, 104);
          }
        }
      }
      .back {
        padding: 0 12px 48px;
        ion-button {
          --border-radius: 24px;
          --padding-top: 24px;
          --padding-bottom: 24px;
          --background: rgb(255, 101, 121);
          --background-activated: rgb(255, 101, 121);
          --background-hover: rgb(255, 101, 121);
        }
      }
    }
  }
}

// @media (min-width: 575px) {
//   .HomePage {
//     .home,
//     .more {
//       width: 80%;
//     }
//   }
// }
@media (min-width: 960px) {
  .HomePage {
    .home {
      background: linear-gradient(
        180deg,
        rgba(235, 235, 235, 0.692) 58%,
        var(--accent-color) 0%
      );
      h3 {
        max-width: 40vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      .intro {
        margin: 0 64px;
        ion-button {
          &.start {
            width: 30%;
          }
          &.learn {
            width: 35%;
          }
        }
      }
    }
  }
}
// @media (min-width: 1024px) {
//   .HomePage {
//     .home,
//     .more {
//       width: 50%;
//     }
//   }
// }
